html,
body {
  background-color: #fff;
  font-family: "Helvetica", "Arial", "Verdana", sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 100%;
  overflow: hidden;
}

.header {
  background-color: #369;
  padding: 10px 0;
}

.header > h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 20px auto;
  width: 352px;
}

/* BOARD */

.board {
  align-items: center;
  background: #feb;
  border-radius: 5px;
  border: 1px solid #640;
  display: flex;
  gap: 3px;
  justify-content: center;
  padding: 4px 0;
  user-select: none;
}

.big-pocket,
.cell {
  background: #eda;
  border: 1px solid #640;
  color: #420;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  text-align: center;
  width: 38px;
}

.big-pocket {
  border-radius: 19px;
  height: 81px;
  line-height: 81px;
}

.smol-pockets {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
}

.row {
  align-items: center;
  display: flex;
  gap: 3px;
  justify-content: center;
}

.cell {
  border-radius: 50%;
  height: 38px;
  line-height: 38px;
}

.cell:not(.empty) {
  cursor: pointer;
}

.cell:not(.empty):hover {
  background: #ffc;
}

.cell:not(.empty):active {
  background: #dc9;
}

.cell.suggested {
  border-color: #369;
  box-shadow: inset 0 0 0 2px #369;
}
